@font-face {
  font-family: "Laxend";
  font-weight: 700;
  src: url("~@styles/assets/fonts/Lexend-Bold.ttf");
}
@font-face {
  font-family: "Laxend";
  font-weight: 600;
  src: url("~@styles/assets/fonts/Lexend-Light.ttf");
}

@font-face {
  font-family: "Laxend";
  font-weight: 500;
  src: url("~@styles/assets/fonts/Lexend-Medium.ttf");
}

@font-face {
  font-family: "Laxend";
  font-weight: 400;
  src: url("~@styles/assets/fonts/Lexend-Regular.ttf");
}

@font-face {
  font-family: "Laxend";
  font-weight: 300;
  src: url("~@styles/assets/fonts/Lexend-Light.ttf");
}
