html,
body,
#root {
  position: relative;
  font-family: "Laxend", sans-serif !important;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Laxend", sans-serif !important;
  overflow: hidden;
}
