$white: #ffffff;

$grey_active: #262626;
$grey_default: #10212f;
$grey_lite: #a3a3a3;
$grey_soft: #d9d9d9;

$red_origin: #e76765;
$red_active: #d13838;
$red_default: #e04e3a;
$red_lite: #ef7979;

$orange_origin: #f6c35a;
$orange_active: #d98500;
$orange_default: #f39c12;
$orange_lite: #f8cd88;

$green_origin: #82d86a;
$green_active: #4cbd6e;
$green_default: #55c46d;
$green_lite: #67d687;

$blue_accent: #2a99ff;
$blue_active: #3f83c2;
$blue_origin: #5f87bf;
$blue_default: #1b7cbd;
$blue_lite: #60aceb;
